[Unit]
Description=Karyanest Spring Boot Application
After=network.target

[Service]
User=root
ExecStart=/usr/bin/java -jar /root/app/karyanest.jar
Restart=always
StandardOutput=append:/root/app/app.log
StandardError=append:/root/app/app.log

[Install]
WantedBy=multi-user.target